
!
! Last configuration change at 21:12:57 +0900 Wed May 23 2012
! NVRAM config last updated at 21:15:54 +0900 Wed May 23 2012
!
version 12.3
no service pad
service timestamps debug datetime msec
service timestamps log datetime msec
service password-encryption
!
hostname ap1231-1
!
logging buffered 20480 debugging
logging rate-limit console 9
!
clock timezone +0900 9
ip subnet-zero
ip name-server 8.8.8.8
ip name-server 8.8.4.4
!
!
no aaa new-model
dot11 syslog
!
dot11 ssid wifi2a
   max-associations 24
   authentication open 
   authentication key-management wpa
   guest-mode
   wpa-psk ascii 7 141C1D0C0D0D2E2A2A
   information-element ssidl
!
dot11 ssid wifi2g
   max-associations 24
   authentication open 
   authentication key-management wpa
   guest-mode
   wpa-psk ascii 7 11021602161B0F0D0A
   information-element ssidl
!
dot11 wpa handshake timeout 500
!
!
!
bridge irb
!
!
interface Dot11Radio0
 no ip address
 no ip route-cache
 !
 encryption mode ciphers aes-ccm 
 !
 ssid wifi2g
 !
 speed 36.0 basic-48.0 basic-54.0
 packet retries 64 drop-packet
 channel least-congested 2412 2417 2422 2427 2432 2437 2442 2447 2452 2457 2462 2467 2472
 station-role root access-point fallback shutdown
 beacon period 70
 bridge-group 1
 bridge-group 1 subscriber-loop-control
 bridge-group 1 block-unknown-source
 no bridge-group 1 source-learning
 no bridge-group 1 unicast-flooding
 bridge-group 1 spanning-disabled
!
interface Dot11Radio1
 no ip address
 no ip route-cache
 !
 encryption mode ciphers aes-ccm 
 !
 ssid wifi2a
 !
 speed 18.0 24.0 basic-36.0 basic-48.0 basic-54.0
 packet retries 64 drop-packet
 station-role root access-point fallback shutdown
 bridge-group 1
 bridge-group 1 subscriber-loop-control
 bridge-group 1 block-unknown-source
 no bridge-group 1 source-learning
 no bridge-group 1 unicast-flooding
 bridge-group 1 spanning-disabled
!
interface FastEthernet0
 no ip address
 no ip route-cache
 duplex auto
 speed auto
 bridge-group 1
 no bridge-group 1 source-learning
 bridge-group 1 spanning-disabled
!
interface BVI1
 ip address dhcp client-id FastEthernet0
 no ip route-cache
!
ip http server
no ip http secure-server
ip http help-path http://www.cisco.com/warp/public/779/smbiz/prodconfig/help/eag
!
snmp-server view dot11view ieee802dot11 included
snmp-server community public123 RO
snmp-server location location
snmp-server contact contact@
bridge 1 route ip
!
!
!
line con 0
 exec-timeout 0 0
line vty 0 4
 exec-timeout 0 0
 login local
!
!sntp server 210.173.160.27
sntp broadcast client
end
