! NEC Portable Internetwork Core Operating System Software
! IX Series IX2010 (magellan-sec) Software, Version 8.3.49, RELEASE SOFTWARE
! Compiled Nov 25-Fri-2011 10:29:23 JST #1
! Last updated Jun 01-Fri-2012 03:35:27 JST
!
!
hostname ix2015-2
timezone +09 00
!
!
!
!
!
ntp ip enable
ntp server 210.173.160.27
ntp server 133.243.237.36
ntp server 133.37.44.6
ntp server 133.243.237.35
ntp retry 3
ntp interval 21601
!
!
!
logging buffered 65535
logging timestamp timeofday
!
!
ip ufs-cache max-entries 9600
ip ufs-cache enable
ip route default FastEthernet0/0.1 
ip dhcp enable
ip access-list all-deny deny ip src any dest any
ip access-list all-permit permit ip src any dest any
ip access-list in-deny deny ip src 10.0.0.0/8 dest any
ip access-list in-deny deny ip src 172.16.0.0/12 dest any
ip access-list in-deny deny ip src 192.168.0.0/16 dest any
ip access-list in-deny deny ip src 127.0.0.0/8 dest any
ip access-list in-deny deny ip src 168.254.0.0/16 dest any
ip access-list in-deny deny ip src 192.0.2.0/24 dest any
ip access-list in-deny deny ip src 198.18.0.0/15 dest any
ip access-list in-deny deny ip src 198.51.100.0/24 dest any
ip access-list in-deny deny ip src 203.0.113.0/24 dest any
ip access-list in-deny deny ip src 224.0.0.0/3 dest any
ip access-list in-intr-to-ix permit icmp src any dest any
ip access-list manager permit ip src 192.168.47.0/24 dest any
ip access-list netbios-block deny tcp src any sport range 137 139 dest any dport any
ip access-list netbios-block deny tcp src any sport any dest any dport range 137 139
ip access-list netbios-block deny udp src any sport range 137 139 dest any dport any
ip access-list netbios-block deny udp src any sport any dest any dport range 137 139
ip access-list netbios-block deny tcp src any sport eq 445 dest any dport any
ip access-list netbios-block deny tcp src any sport any dest any dport eq 445
ip access-list netbios-block deny udp src any sport eq 445 dest any dport any
ip access-list netbios-block deny udp src any sport any dest any dport eq 445
ip access-list pppoe-napt permit ip src 172.17.0.0/16 dest any
ip access-list pppoe-napt permit ip src 172.25.0.0/16 dest any
ip access-list pppoe-napt permit ip src 192.168.47.0/24 dest any
ip access-list priv deny ip src any dest 10.0.0.0/8
ip access-list priv deny ip src any dest 172.16.0.0/12
ip access-list priv deny ip src any dest 192.168.0.0/16
ip access-list priv deny ip src any dest 168.254.0.0/16
ip access-list priv deny ip src any dest 127.0.0.0/8
ip access-list sec-list permit ip src any dest any
ip access-list dynamic access1 access all-permit
ip filter forced-reassembly
!
!
!
!
snmp-agent view private_view 1.3.6.1.4.1.119
snmp-agent ip enable
snmp-agent ip community private1 view private_view
snmp-agent ip community public1
no snmp-agent mib-2 conceal-unconfigured-ifstack
snmp-agent contact root@
snmp-agent location mobile
!
bridge irb enable
!
!
ip name-server 8.8.8.8
ip name-server 8.8.4.4
dns cache enable
dns cache max-records 64
dns cache lifetime 300
dns ncache lifetime 30
!
proxy-dns ip enable
proxy-dns ip max-sessions 127
proxy-dns ip query-retries 3
proxy-dns ip query-interval 3
!
telnet-server ip enable
telnet-server ip access-list manager
!
!
!
!
!
!
!
!
!
ppp profile fuurin
  authentication myname @yj9.so-net.ne.jp
  authentication password @yj9.so-net.ne.jp xxxxxxxxxxxxxxxxxxx
!
ip dhcp profile main
  assignable-range 172.25.1.1 172.25.3.253
  subnet-mask 255.255.0.0
  default-gateway 172.25.0.254
  dns-server 172.25.0.254 8.8.8.8
  lease-time 3600
!
ip dhcp profile maintenance
  assignable-range 192.168.47.16 192.168.47.160
  subnet-mask 255.255.255.0
  default-gateway 192.168.47.254
  dns-server 192.168.47.254 8.8.8.8
  lease-time 1209600
!
device FastEthernet0/0
!
device FastEthernet0/1
!
device FastEthernet1/0
  vlan-group 1 port 1 2 3
  vlan-group 2 port 4
!
device BRI1/0
  isdn switch-type hsd128k
!
interface FastEthernet0/0.0
  description onu
  ip address 192.168.1.2/24 
  ip napt enable
  ip napt inside list manager
  no shutdown
!
interface FastEthernet0/1.0
  ip address 192.168.20.99/24 
  no shutdown
!
interface FastEthernet1/0.0
  no ip address
  no shutdown
!
interface BRI1/0.0
  encapsulation ppp
  no auto-connect
  no ip address
  shutdown
!
interface FastEthernet0/0.1
  description PPPoE
  encapsulation pppoe
  auto-connect
  ppp binding fuurin
  ip address ipcp
  ip mtu 1454
  ip tcp adjust-mss auto
  ip napt enable
  ip napt inside list pppoe-napt
  ip napt translation max-entries 61343
  ip napt translation max-entries per-address 2048
  ip napt translation tcp-timeout 43200
  ip napt translation udp-timeout 1200
  ip filter in-deny 90 in
  ip filter priv 100 out
  ip filter netbios-block 200 out
  ip filter access1 60000 out suppress-logging
  ip filter all-permit 65000 out
  no shutdown
!
interface FastEthernet1/0:1.0
  description main
  ip address 172.25.0.254/16 
  ip dhcp binding main
  no shutdown
!
interface FastEthernet1/0:2.0
  description maintenace
  ip address 192.168.47.254/24 
  ip dhcp binding maintenance
  no shutdown
!
interface Loopback0.0
  no ip address
!
interface Null0.0
  no ip address
